.pikachu {
    flex-direction: row;
    align-items: flex-end;
}

h1 {
    font-size: 4.0rem;
    text-align: left;
}

.window {
    width: 815px;
    padding: 8px;
}

/* .arrow {
    height: 75px;
    width: 75px;
} */

main {
   max-width: 1900px;
}
.paginas{
    min-width: 350px;
    max-width: 400px;
}