.pikachu {
    flex-direction: row;
    align-items: flex-end;
}

h1 {
    font-size: 4.0rem;
    text-align: left;
}


.big__index__container {
    display: flex;
}

.small__index__container {
    display: none;
}

#menuToggle{
    display: none;
}


.index {
    right: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
} 

.index li {
    padding: 10px;
    list-style: none;
    text-decoration: none;
}

.index li:hover {
    color: rebeccapurple;
    transform: scale(1.2);
}


  