main {
    flex-direction: row; 
    justify-content: space-evenly; /*para ordenar, reparte el espacio libre*/
}
.paginas{
    min-width: 20%;
    max-width: 30%;
    min-height: 85vh;
    max-height: 85vh;
}
.content {
    max-width: 75%;
}

h1 {
    text-align: left;
    font-size: 3.0rem;
}