main {
    flex-direction: row; 
    justify-content: space-evenly; /*para ordenar, reparte el espacio libre*/
}
.paginas{
    min-width: 25%;
    max-width: 30%;
    min-height: 50vh;
    max-height: 85vh;
}
.content {
    max-width: 70%;
}

h1 {
    text-align: left;
    font-size: 3.0rem;
}
.header-img {
    height: 350px;
    width: 350px;
}

.window {
    width: 548px;
}
  
.last-paragraph{
    display: block;
    margin-top: 50px;
    color: #afcfb1;
}