:root{
  --primaryBackground: #070c24;
  --primaryText: aliceblue;
  --secundaryText: #070c24;
  --secundaryBackground: rgb(247, 247, 41);
  --focusBackground: rgb(240, 240, 121);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;/*makes the root sizes of 10px*/
}

body{
  width: 100%;
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: var(--primaryBackground);
}

/* Headers styles start */
h1{
  text-align: center;
  margin: 15px 0;
  color: var(--primaryText);
  font-size: 4rem;
}

.header__banner {
  margin: 15px auto;
  background-image: url('../imgs/banner.jpg');
  min-width: 300px;
  max-width: 960px;
  min-height: 250px;
  object-fit: cover;
  background-position: bottom;
}

.header__nav--big {
  width: 100%;
  align-content: center;
  cursor: pointer;
}

.header__nav--big ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  text-align: center;
  margin: 0 25px;
}

.header__nav--big ul li {
  padding: 0 10px;
  background-color: var(--secundaryBackground);
  border: 1px solid black;
  color: var(--secundaryText);
  font-size: 2.5rem;
}

.header__nav--big ul li:hover {
  transform: scale(1.3);
  background-color: var(--focusBackground);
}

/* Headers styles end */





/* Body styles start */
.hidden{
  display: none;
}

.products{
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  margin: 25px auto;
  justify-content: space-evenly;
  gap: 25px;
}

.contact{
  display: flex;
  margin: 25px auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--primaryText);
}

.contact form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 3rem;
}

.contact form label{
  margin-top: 15px;
}

.contact form input{
  min-width: 300px;
}

.contact #message{
  height: 100px;
}

.contact button{
  width: 100px;
  height: 50px;
  align-items: center;
  margin: 10px auto;
}
/* Body styles end */










/* Footer styles start */


/* Footer styles end */

@media screen and (min-width: 530px){
  
  .header__banner{
    height: 320px;
  }

  .header__nav--big ul{
    flex-direction: row;
    margin: 0 0;
  }

  .contact form input{
    width: 400px;
  }

  .contact #message{
    width: 500px;
  }
}