# node_modules/
#es recomendable no subir los modulos de node, se deben identificar en el readme e instalar al clonar de nuevo
package.json
#en package.json hay ejemplos de como ejecutar codigo con scripts, para llamarlo es npm run <nombre>, desde la terminal
#el script es el siguiente
#  "scripts": {
#     "challengeAsync": "node ./projects/ECMAScript6+/async/challenge.js"
#   },