* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* important responsive feature (padding and border) */
}

html, body {
  font-size: 62.5%;/*makes the root sizes of 10px*/
  margin: auto;
  border: 0;
  padding: 0;
  background: rgb(11,6,98);
  background: linear-gradient(90deg, rgba(11,6,98,1) 25%, rgba(6,44,94,1) 50%, rgba(15,137,162,1) 75%);
  background-size: auto auto; 
  position: relative;
  min-height: 100vh;
}

header {
  border: 5px ridge rgb(70, 68, 107);
  background: linear-gradient(90deg, rgba(15,137,162,1) 25%, rgba(6,44,94,1) 50%, rgba(11,6,98,1) 75%);
  position: sticky;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 0;
  min-height: 1vh;
  z-index: 999; /*le da prioridad para que este siempre al frente*/
  display: flex;
}

/*
header nav {
  right: 1rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
} */

main {
  margin: auto;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  color: #afcfb1;
  display: flex;
  flex-direction: row; /*default*/
  flex-wrap: wrap; /*para que se acomode el contenerdor si cambia el tamanho*/
  justify-content: space-evenly; /*para ordenar, reparte el espacio libre*/
}


.content {
  display: inline-block;
  /*position: absolute; no se necesita gracias al display flex en main */
  padding-bottom: 4rem; 
  max-width: 60%;
}

.paginas{
  display: inline-block;
  min-height: 85vh;
  background-color: rgb(24, 18, 128);
  opacity: 0.7;
  max-width: 25%;
  border-radius: 2.5%;
  padding-top: 0.5rem;
  padding-bottom: 4rem;
}

.paginas h2 {
  margin: 0;
  text-align: left;
  font-size: 2.5rem;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 4.0rem;
  color: #afcfb1;
}

h2 {
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
}

text > h3 {
  margin: auto;
  text-align: center;
  font-size: 2.0rem;
}

text {
  margin: auto;
  width: 50%;
  padding: 15px;
  color: #ecdfdf;
}

.lista {
  font-size: 2.0rem;
  margin: auto;
  list-style: none;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  
  flex-wrap: wrap; /*para que se acomode el contenerdor si cambia el tamanho*/
  justify-content: center; /*para ordenar, reparte el espacio libre*/
}

.lista_item a {
  color: rgb(14, 122, 46);
  padding: 0.5rem;
}

.lista_item a:hover {
  color: blue;
}

.image {
  background-repeat: no-repeat;
  max-width: 45%;
  max-height: 45%;
}

#sennin {
  position: static;
  background-repeat: no-repeat;
  max-width: 25%;
  max-height: 25%;
}

.pikachu {
  text-align: center;
  font-size: 1.5rem;
  
  /*solo para probar, se ve mejor sin esto*/
  display: flex;
  flex-direction: row;

  align-items: flex-end; /*donde van los items en relacion con el contenedor (vertical)*/
  flex-wrap: wrap; /*para que se acomode el contenerdor si cambia el tamanho*/
  justify-content: center; /*para ordenar, reparte el espacio libre*/
}

form {
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
  color: #6cad70;

}

footer {
  text-align: center;
  color: white;
  background: black;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  font-size: 2rem;
  margin: auto;
}
