* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background: rgb(11,6,98);
  background: linear-gradient(90deg, rgba(11,6,98,1) 25%, rgba(6,44,94,1) 50%, rgba(15,137,162,1) 75%);
  background-size: auto auto; 
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
  color: #afcfb1;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

text {
  margin: auto;
  width: 50%;
  padding: 15px;
  color: #ecdfdf;
}

text > h2 {
  margin: auto;
  text-align: center;
  font-size: 2.0em;
}

text > h3 {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
}

img {
  background-repeat: no-repeat;
  max-width: 591.16px; 
  max-height: 493.3px;
}

div {
  text-align: center;
}

form {
  text-align: center;
  margin: auto;
  color: #6cad70;

}