* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* important responsive feature (padding and border) */
}

html, body {
  /*font-size: 62.5%;*/
  margin: auto;
  border: 0;
  padding: 0;
  background: rgb(11,6,98);
  background: linear-gradient(90deg, rgba(11,6,98,1) 25%, rgba(6,44,94,1) 50%, rgba(15,137,162,1) 75%);
  background-size: auto auto; 
}

header {
  border: 5px ridge rgb(70, 68, 107);
  background: linear-gradient(90deg, rgba(15,137,162,1) 25%, rgba(6,44,94,1) 50%, rgba(11,6,98,1) 75%);
  position: sticky;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 0;
}

nav {
  margin: auto;
  text-align: right;
}

main {
  margin: auto;
  width: 75%;
  padding: 20px;
  color: #afcfb1;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
  color: #afcfb1;
}

text {
  margin: auto;
  width: 50%;
  padding: 15px;
  color: #ecdfdf;
}

text > h2 {
  margin: auto;
  text-align: center;
  font-size: 2.0rem;
}

text > h3 {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

.lista {
  font-size: 1.5rem;
  margin: auto;
  list-style: none;
}

.lista_item a {
  color: rgb(55, 143, 81);
}

.lista_item a:hover {
  color: blue;
}

.image {
  background-repeat: no-repeat;
  max-width: 45%;
  max-height: 45%;
}

#sennin {
  background-repeat: no-repeat;
  max-width: 25%;
  max-height: 25%;
}

figure {
  text-align: center;
}

form {
  text-align: center;
  margin: auto;
  color: #6cad70;

}

footer {
  text-align: center;
  border: 5px solid;
  background: linear-gradient(90deg, rgba(15,137,162,1) 25%, rgba(6,44,94,1) 50%, rgba(11,6,98,1) 75%);
}
