:root {
  --primaryColor: linear-gradient(90deg, rgba(11,6,98,1) 25%, rgba(6,44,94,1) 50%, rgba(15,137,162,1) 75%);
  --secondaryColor: linear-gradient(90deg, rgba(15,137,162,1) 25%, rgba(6,44,94,1) 50%, rgba(11,6,98,1) 75%);
 }

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* important responsive feature (padding and border) */
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;/*makes the root sizes of 10px*/
  margin: auto;
  border: 0;
  padding: 0;
  background: var(--primaryColor);
  position: relative;
  min-height: 90vh;

  /*agregando animacion al fondo*/
  background-size: 400% 400%;  /*importante, no se porque*/
  -webkit-animation: bgAnimate 10s ease infinite;
  -moz-animation: bgAnimate 10s ease infinite;
  animation: bgAnimate 10s ease infinite;
}

/*necesarios para agregar la animacion al fondo*/
@-webkit-keyframes bgAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bgAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

header {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

.score-board {
  color: white;
  border: 5px ridge rgb(255, 255, 255);
  text-align: center;
  width: 250px;
  padding: 60px 10px;
  position: relative;
  margin: 10px auto;
  font-size: 4rem;
}

.score-board div{
  background:#292835;
  font-size: 30px;
  padding: 10px 10px;
  border-radius: 12px;
}

.score-board-user {
  position: absolute;
  top: 5px;
  left: 0;
}

.score-board-CPU {
  position: absolute;
  top: 5px;
  right: 0px;
}

.score-board span {
  padding: 0 20px;
}


.options-container{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}

.options-container img  {
  width: 75px;
  margin: 0 10px;
  cursor: pointer;
}

img:hover{
  transform: scale(1.5);
}

.order {
  text-align: center;
  margin: 20px 0;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-container-restart {
  border: 5px ridge rgb(218, 199, 199);
  min-width: 170px;
  min-height: 70px;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  outline: none;
}

.button-container-restart:hover {
  transform: scale(1.25);
}


/* Modal */
.text-won{
  color: #289a28;
  font-size: 40px;
}

.text-lost{
  color: #ff0000;
  font-size: 40px;
}

.modal-content p{
  font-size: 18px;
}

@media screen and (min-width: 500px){
  .options-container img  {
    margin: 0 40px;
  }
}

@media screen and (min-height: 600px){
  header {
    margin: 10px auto;
  }

  .button-container {
    margin-top: 30px;
  }
}

@media screen and (min-height: 900px){
  header {
    margin: 50px auto;
  }

  h1 {
    font-size: 6rem;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 4rem;
  }

  .score-board {
    padding: 60px 10px;
    margin: 70px auto;
    font-size: 6rem;
  }

  .button-container {
    margin-top: 100px;
  }
}
