/*
    Convenciones para agregar estilos:
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Miscelaneos u otros --> reglas CSS y más
*/
:root {
    /* Colores */
    --bitcoin-orage:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--warm-blackplus1:#282623;
	--gray:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    /*Solo agregamos esta porque es la mas utilzada, la otra se agrega cuando se necesite*/
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

    /*agregando animacion al fondo del header*/
    background-size: 400% 400%;
    -webkit-animation: bgAnimateBitcoin 10s ease infinite;
    -moz-animation: bgAnimateBitcoin 10s ease infinite;
    animation: bgAnimateBitcoin 10s ease infinite;
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;

    /* Posicio utilizando calc*/
	/* top: calc(100% - 24px);
	left: calc(50% - 114.5px); */

    /* Posicion utilizando translate */
	top: 100%;
	left: 50%;
    transform: translate(-50%, -50%);

    /* Tambien podria ser
    transform: translate(-50%, -24px); 
    porque el width es de 48px*/

    display: block;
    padding: 15px;
    width: 230px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); /*sombra*/
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--title-container .header--button span {
    display: inline-block; /*span origianalmente trae inline y aqui no sirve*/
    width: 13px;
    height: 8px;
    background-image: url(./assets/icons/down-arrow.svg);
    margin-left: 10px;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto; /*para que se posicione en el centro*/
}

.main-exchange-container .background-image {
    width: 200px;
    height: 200px;
    margin: 0 auto; /*para que se posicione en el centro*/
    margin-bottom: 50px;
    background-image: url(./assets/img/bitcoin.svg);

    /*buenas practicas*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*otra opcion
    background: url('./assets/img/bitcoin.svg') center/cover no-repeat;
    */
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-blackplus1);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/* inicia estilos para tablas */
.main-currency-table,
.main-comission-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .main-currency-table--title,
.main-comission-table .main-comission-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    text-align: left;
    color: var(--bitcoin-orage);
}

.main-comission-table .main-comission-table--title {
    color: var(--secondary-blue);
}

.main-currency-table--container,
.main-comission-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.main-currency-table--container table,
.main-comission-table table {
    width: 100%;
    height: 100%;
}

.main-currency-table--container td,
.main-comission-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--gray);
    background-color: var(--just-white);
}

.main-currency-table--container .table__top-left,
.main-comission-table--container .table__top-left {
    border-radius: 15px 0 0 0 ;
}

.main-currency-table--container .table__top-right,
.main-comission-table--container .table__top-right {
    border-radius: 0 15px 0 0 ;
}

.main-currency-table--container .table__bottom-right,
.main-comission-table--container .table__bottom-right {
    border-radius: 0 0 15px 0 ;
}

.main-currency-table--container .table__bottom-left,
.main-comission-table--container .table__bottom-left {
    border-radius: 0 0 0 15px ;
}

.main-currency-table--container .table__right,
.main-comission-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.main-currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date,
.comission-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}


.comission-table--date {
    background-color: var(--soft-blue);
}

.currency-table--date p,
.comission-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}
/* termina estilo para tablas */

/* inicia seccion de articulos*/
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.main-product-detail--logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./assets/img/logo.svg);
}

.main-product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.main-product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
 
.produc-detail--clard {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    background-color: var(--warm-blackplus1);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.produc-detail--clard-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;

    /*siempre que se usa una imagen de background*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clock {
    background-image: url(./assets/icons/clock.svg);
}

.eye {
    background-image: url(./assets/icons/eye.svg);
}

.dollar {
    background-image: url(./assets/icons/dollar-sign.svg);
}

.check {
    background-image: url(./assets/icons/check-circle.svg);
}
    
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080
}
/* termina seccion de articulos*/

/* seccion comodin */
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);

    /*siempre que se usa una imagen de background*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}

/*necesarios para agregar la animacion*/
@-webkit-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}