:root {
  --primaryColor: linear-gradient(90deg, rgba(11,6,98,1) 25%, rgba(6,44,94,1) 50%, rgba(15,137,162,1) 75%);
  --secondaryColor: linear-gradient(90deg, rgba(15,137,162,1) 25%, rgba(6,44,94,1) 50%, rgba(11,6,98,1) 75%);
  --listFontColor: rgb(169, 221, 185);
  --textFontSize: 2.0rem;
  --littleTextFontSize: 1.5rem;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* important responsive feature (padding and border) */
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;/*makes the root sizes of 10px*/
  margin: auto;
  border: 0;
  padding: 0;
  background: var(--primaryColor);
  position: relative;
  min-height: 100vh;
}

body {
  height: 100vh;
  width: 100vw;
}

/*hiddin the scrollbar*/
body::-webkit-scrollbar{
  display: none;
}









/* main styles starts */

#slide1 { 
  background: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80) 50% 0 repeat fixed; 
  min-height: 1000px;
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}

#slide1 article { 
  color: white;
  font-size: 3rem;
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 250px; 
  width: 100%; 
}
  
#slide2 { 
  background: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1991&q=80) 50% 0 no-repeat; 
  min-height: 1000px;  
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#slide2 article { 
  color: white;
  font-size: 2rem;
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

#slide2 article ul{
  margin-top: 25px;
}

/* main styles ends */














/* footer style starts */
/* 
footer {
  text-align: left;
  background: black;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer .social {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

footer .social img {
  max-width: 40px;
}

footer .social img:hover{
  transform: scale(1.5);
} */

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
/* footer style ends */




@media (min-width: 1024px){
  h1 {
    font-size: 4.0rem;
    text-align: left;
  }
}