:root {
    --primaryColor: linear-gradient(90deg, rgba(11,6,98,1) 25%, rgba(6,44,94,1) 50%, rgba(15,137,162,1) 75%);
    --secondaryColor: linear-gradient(90deg, rgba(15,137,162,1) 25%, rgba(6,44,94,1) 50%, rgba(11,6,98,1) 75%);
    --listFontColor: rgb(169, 221, 185);
    --textFontSize: 2.0rem;
    --littleTextFontSize: 1.5rem;
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* important responsive feature (padding and border) */
    margin: 0;
    padding: 0;
  }
  
  html, body {
    font-size: 62.5%;/*makes the root sizes of 10px*/
    margin: auto;
    border: 0;
    padding: 0;
 /*   background: var(--primaryColor);*/
    position: relative;
    min-height: 100vh;
  }
  
  body {
    height: 100vh;
    width: 100vw;
  }

  .MainSection{
    background: gray;
    display: flex;
    margin: auto;
    height: calc(100vh - 15vh);
    width: 80vw;
  }

  .MainAside{
    width: 30%;
    background-color: rgb(207, 174, 174);
    height: calc(100%-10px);
		margin: 10px;
  }

	#MyMain{
    width: 70%;
    background-color: rgb(202, 76, 76);
    height: calc(100%-10px);
		margin: 10px;
	}



  /* elminado del main al form*/


  
  
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
  
	@media (max-width: 600px){
		.MainAside{
			width: 10%;
			height: calc(100%-5px);
			margin: 5px;
		}
	
		#MyMain{
			width: 90%;
			height: calc(100%-5px);
			margin: 5px;
		}
	}



@media (min-width: 600px){
    main {
        flex-direction: row; 
        justify-content: space-evenly; /*para ordenar, reparte el espacio libre*/
    }
    .paginas{
        max-width: 25%;
        min-height: 85vh;
        max-height: 85vh;
    }
    .content {
        max-width: 75%;
    }
    
    h1 {
        text-align: left;
        font-size: 3.0rem;
    }
  }
  
  @media (min-width: 1024px){
    .pikachu {
        flex-direction: row;
        align-items: flex-end;
    }
    
    h1 {
        font-size: 4.0rem;
        text-align: left;
    }
  } 
  
  