:root{
	--primaryColor: linear-gradient(90deg, rgba(11,6,98,1) 25%, rgba(6,44,94,1) 50%, rgba(15,137,162,1) 75%);
  --secondaryColor: linear-gradient(90deg, rgba(15,137,162,1) 25%, rgba(6,44,94,1) 50%, rgba(11,6,98,1) 75%);
  --listFontColor: rgb(169, 221, 185);
  --textFontSize: 2.0rem;
  --littleTextFontSize: 1.5rem;
	--thisBackground: linear-gradient(180deg, rgb(117, 74, 10) 25%, rgb(94, 63, 6)50%, rgb(163, 124, 66) 75%);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* important responsive feature (padding and border) */
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;/*makes the root sizes of 10px*/
  margin: auto;
  border: 0;
  padding: 0;
  background: var(--thisBackground);
  position: relative;
  min-height: 100vh;
	background-attachment: fixed;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  margin: auto;
  width: 100%;
  min-height: 90%;
  padding: 20px;
  color: #afcfb1;
  display: flex;
  flex-direction: column; /*default*/
  flex-wrap: wrap; /*para que se acomode el contenerdor si cambia el tamanho*/
  justify-content: space; /*para ordenar, reparte el espacio libre*/
  align-items: center;
	font-size: 1.5rem;
	line-height: 3rem;
	overflow: auto;
	scroll-padding: 50px;
}

h1 {
	color: black;
}

input {
	height: 3rem;
	text-align: center;
	border-radius: 5% / 20%;
	box-shadow: -2px 2px 10px 2px rgb(207, 137, 46);
}

input:hover {
	transition: 1s;
	transform: scale(1.05);
	box-shadow: -5px 5px 10px 5px rgb(199, 125, 27);
}

textarea {
	width: 100%;
	height: 30rem;
	border-radius: 2%;
	text-align: center;
	box-shadow: -5px 5px 10px 2px rgb(207, 137, 46);
}

textarea:hover {
	transform: scale(1.05);
	transition: 2s;
	box-shadow: -10px 10px 10px 5px rgb(199, 125, 27);
}

button {
	font-family: cursive;
	font-size: 2rem;
	margin-bottom: 1rem;
	background-color: darkcyan;
	border-radius: 50% 20% / 10% 40%;
	width: 10rem;
	height: 3rem;
	box-shadow: -1px 1px 5px rgb(5, 82, 82)
}

button:hover {
	transition: 0.75s;
	transform: scale(1.1);
	box-shadow: -2px 2px 5px 2px rgb(5, 82, 82)
}

img {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#button2{
	background-color: cyan;
	border-radius: 20% 50% / 40% 10%;
}

@media only screen and (min-width: 500px) {
	textarea {
		width: 40rem;
		height: 30rem;
		border-radius: 2%;
		text-align: center;
		box-shadow: -5px 5px 10px 2px rgb(207, 137, 46);
	}
  }