.header-img {
  height: 400px;
  width: 400px;
}

.intro {
  width: 70%;
}

.window {
  width: 815px;
  padding: 8px;
}

.arrow {
  height: 75px;
  width: 75px;
}

.form-container{
  width: 30%;
}

.modal{
  width: 700px;
  padding: 56px;
}