.header {
  font-size: 3.5rem;
}

.header-img {
  height: 350px;
  width: 350px;
}

.navigation {
  width: 50%;
}

.intro {
  width: 80%;
}

.window {
  width: 548px;
}


.notification{
  right: 14px;
}

.form-container{
  width: 60%;
}

.modal{
  width: 500px;
  padding: 9px;
}

.modal-project-image {
  border-radius: 5px;
  border: 2px solid #000;
  height: 400px;
  margin: 16px;
  width: 450px;
}

.send-button,
.modal-button-close{
  margin-bottom: 48px;
}