.header {
  font-size: 3.5rem;
}

.header-img {
  height: 400px;
  width: 400px;
}

.navigation {
  width: 50%;
}

.intro {
  width: 80%;
}

.window {
  width: 548px;
}

.arrow {
  height: 75px;
  width: 75px;
}